/*------------------------------
  Header
------------------------------*/
.nav-global {
	background: #333;
	ul {
		ul {
			background: #333;
			a:hover {
				background: lighten(#333,10%);
			}
		}
	}
}
.nav-header {
	background: #567;
	ul {
		ul {
			background: #567;
			a:hover {
				background: lighten(#567,10%);
			}
		}
	}
}
.nav-footer {
	background: #555;
	ul {
		ul {
			background: #555;
			a:hover {
				background: lighten(#555,10%);
			}
		}
	}
}

/*------------------------------
  Footer
------------------------------*/
.footer-area {
	background: #555;
}
.nav-footer {
	background: #333;
}
.footer-copyright {
	background: #333;
}

/*------------------------------
  Content
------------------------------*/
.page-title {
	background: #e4e4e4;
    color: #555;
    padding: 0.3rem 0.6rem;
    font-size: 1.4rem;
}

/*------------------------------
  Widget
------------------------------*/
.widget-area {
	.widgettitle {
		border-bottom: 2px solid #333;
	}
	ul {
		margin: 0;
		list-style: none;
		li {
			border-bottom: 1px solid #ccc;
			padding: 0.3rem 0;
		}
		ul {
			margin-left: 1em;
			li {
				border-bottom: 0;
				padding: 0;
				margin-top: 0.3rem;
			}
		}
	}
	a {
		color: #555;
		text-decoration: none;
		&:hover {
			color: #333;
			text-decoration: underline;
		}
	}
	
	.site-footer & {
		color: #fff;
		@include text-shadow(0 1px 1px rgba(0,0,0,.15));
		.widgettitle {
			border-bottom-color: #fff;
		}
		a {
			color: #fff;
			@include text-shadow(0 1px 1px rgba(0,0,0,.15));
		}
	}
}
