.widget {
	margin: $size__margin-default 0 0;
	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
	.widgettitle {
		margin-top: 0;
	}
}

.site-content .widget-area .widget:first-child {
	margin-top: 0;
}
