$size__margin-default: 1.6em;

$responsive-sm__switch: 768px;
$responsive-sm__container: 768px;
$responsive-sm__sidebar: 240px;
$responsive-sm__addmargin: 270px;

$responsive-lg__switch: 1024px;
$responsive-lg__container: 980px;
$responsive-lg__sidebar: 300px;
$responsive-lg__addmargin: 330px;

$responsive-xlg__switch: 1200px;
$responsive-xlg__container: 1180px;
$responsive-xlg__sidebar: 330px;
$responsive-xlg__addmargin: 360px;