.sticky {
	display: block;
}

/* article common */
.hentry {
	margin-bottom: $size__margin-default;
	padding-bottom: $size__margin-default;
}

.hentry a {
	//@include link-colors($color__text-screen,$color__text-screen,$color__text-screen,$color__text-screen,$color__text-screen);
	//text-decoration: none;
	@include link-colors($color__link,$color__link,$color__link,$color__link);
}

/* meta */
/*
.byline,
.updated:not(.published){
	display: none;
}
*/
.entry-meta {
	background: #eee;
	border-radius: 6px;
	padding: 0.3rem 1.2rem;
	a,
	a:active,
	a:hover,
	a:focus,
	a:visited {
		text-decoration: none;
		color: #999!important;
	}
}
.entry-category {
	.cat {
		display: inline-block;
		text-decoration: none;
		color: #555;
		background: #f0f0f0;
		padding: 0.3rem 0.8rem;
		font-size: 0.9em;
		
		&:active,
		&:hover,
		&:focus,
		&:visited {
			color: #555;
		}
		
		&:hover {
			background: #c0c0c0;
		}
	}
}
.entry-meta-label,
.entry-date,
.author {
	margin-right: 8px;
}
.entry-meta-label {
	display: inline-block!important;
	///background: #ccc;
	///color: #fff;
	font-size: 0.9em;
	font-weight: bold;
	padding: 0.1rem 0.4rem;
}
.posted-on a,
.author a {
	color: #555!important;
	text-decoration: none!important;
	&:hover {
		text-decoration: underline!important;
	}
}

.single .byline,
.group-blog .byline {
	display: inline;
}
.cat-links a {
	@include link-colors($color__link,$color__link,$color__link,$color__link);
	text-decoration: underline;
}

/* title */
.entry-title {
	margin-top: 0;
	padding: 0.6rem 0;
}
.entry-title a {
	@include link-colors($color__link,$color__link,$color__link,$color__link);
	text-decoration: underline;
}

.page-title {
	margin-top: 0;
}

/* content */
.page-content,
.entry-content,
.entry-summary {
	margin: $size__margin-default 0 0;
	p:first-child {
		margin-top: 0;
	}
}

/* links */
.page-links {
	clear: both;
	margin: 0 0 $size__margin-default;
}

.pagination {
	margin: 1.6rem 0 0;
	.nav-links {
		.page-numbers {
			padding: 0.4em 0.6em;
			@include link-colors($color__text-screen,$color__text-screen,$color__text-screen,$color__text-screen,$color__text-screen);
		    text-decoration: none;
			background: #fff;
		    border: 1px solid rgba(0,0,0,0.15);
		    box-shadow: 0 0 1px rgba(0,0,0,.05);
		    &.current {
			    background: #333;
			    color: #fff;
		    }
		    &:hover {
			    background: #e0e0e0;
			    box-shadow: none;
		    }
		}
	}
}

/*
@media screen and (min-width: $responsive-sm__switch) {
	.hentry {
		&:not(:first-child) {
			margin: $size__margin-default 0 0;
		}
	}
}
*/

body.home,
body.archive {
	.hentry {
		padding: $size__margin-default 0;
		
		&:not(:first-child) {
			border-top: 1px solid #ccc;
		}
		
		a {
			color: #555!important;
			text-decoration: none!important;
		}
		
		.entry-thumbnail {
			img {
				width: 100%;
			}
		}
		.entry-date {
			margin-left: 0.4em;
		}
		.entry-title {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

@media screen and (min-width: $responsive-sm__switch) {
	body.home,
	body.archive {
		.hentry {
			@include display-flex;
			.entry-thumbnail {
				@include flex(1);
				margin-right: 20px;
			}
			.entry-main {
				@include flex(3);
			}
		}
	}
}

body.single {
	.hentry {
		//border-bottom: none;
	}
}